aside {
  flex: 1 1 15%;
  display: flex;
  flex-direction: column;
  align-items: left;
  min-width: max(10%, 250px);
  padding: 1rem;
}

aside p {
  font-size: small;
  color: var(--text-color-primary-lighter);
}

aside > * > *:not(:first-child) {
  flex: 1 1 90%;
  background-color: var(--bg-color-content);
  border-radius: 5px;
  padding: 1em;
}

.announcements-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18em, 100%), 1fr));
  grid-auto-columns: 1fr;
  gap: 0 3em;
  padding: 1em;
  cursor: pointer;
}

.announcements-content > * {
  border-bottom: 1px solid var(--text-color-primary-lighter);
}

.trending-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0 3em;
  cursor: pointer;
}

.trending-item {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.1em;
  border-radius: 10px;
}

.trending-content :hover,
.announcements-content :hover {
  background-color: var(--bg-color-primary);
}

.trending-item > .avatar {
  height: 2.5em;
}
