:root {
  --nav-background-color: #4a8ad3;
  --nav-text-color: white;
  --main-background-color: #e3e7f0;
  --content-background-color: white;
  --project-font-color: grey;
  --default-font-color: black;
  --main-max-width: 1800px;
  --main-min-width: 320px;
}
