.nav-wrapper {
  position: fixed;
  padding: 0.5em;
  background-color: var(--bg-color-secondary);
  border-radius: 10px;
  top: 25%;
  left: 1%;
  opacity: 0.9;
  z-index: 1;
}

.nav-wrapper > svg {
  height: 2em;
  fill: var(--text-color-secondary);
}
.nav-wrapper:focus {
  outline: 2px solid rgb(166, 197, 27);
  transform: scale(1.05);
}

.nav-wrapper:hover > nav {
  display: flex;
}

.nav-wrapper:hover {
  opacity: 1;
}

nav {
  display: none;
  flex-direction: column;
  gap: 1em;
  color: var(--text-color-secondary);
  padding: 0.8em;
}

.nav-header {
  display: flex;
  font-size: larger;
  align-items: center;
  gap: 0.5em;
}

.menu-bar,
.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav svg {
  height: 1.2em;
  fill: var(--text-color-secondary);
}

.nav-header > svg {
  height: 1.8em;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: -0.5em;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 10px;
}

.menu-item:hover {
  transform: scale(1.02);
  background-color: var(--bg-color-secondary-lighter);
}
