.nav-wrapper {
  position: fixed;
  padding: 0.5em;
  background-color: var(--bg-color-secondary);
  border-radius: 10px;
  top: calc(min(15%, 150px));
  opacity: 0.9;
  z-index: 1;
  max-height: 3em;
  max-width: 3em;
  transition: max-width ease-out 1s, max-height ease-out 1s, opacity ease-out 1s;
  overflow: hidden;
}

.nav-wrapper > svg {
  height: 2em;
  fill: var(--text-color-secondary);
}
.nav-wrapper:focus {
  outline: 2px solid rgb(166, 197, 27);
}

.nav-wrapper:hover {
  opacity: 1;
  max-height: 100%;
  max-width: 100%;
  transition: max-width ease-in 1.5s, max-height ease-in 1.5s;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: var(--text-color-secondary);
  padding: 0.8em;
}

.nav-header {
  display: flex;
  font-size: larger;
  align-items: center;
  gap: 0.5em;
}

.menu-bar,
.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav svg {
  height: 1.2em;
  fill: var(--text-color-secondary);
}

.nav-header > svg {
  height: 1.8em;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: -0.5em;
  cursor: pointer;
  padding: 0.2em;
  border-radius: 10px;
}

.menu-item:hover {
  transform: scale(1.02);
  background-color: var(--bg-color-secondary-lighter);
}
